.main-row{
    position: relative;
}
.right-side{
  border-right: 1px solid #d3d3d3;
   margin-top:7px
}
.left-side{
    position: fixed !important;
    z-index: 1020 !important;
    right: 0px !important;
    top: 80px !important;

}

.side-bar{
    margin-left: 70px !important;
}
.h6{
    margin-top: 20px
}
.last{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px
}